<div class="page-header">
  <h3>Favorite #<%= @favorite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish</dt>
      <dd><%= @favorite.dish_id %></dd>

      <dt>Venue</dt>
      <dd><%= @favorite.venue_id %></dd>

      <dt>Location</dt>
      <dd><%= @favorite.location_id %></dd>

      <dt>Username</dt>
      <dd><%= @favorite.username_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/favorites" class="btn btn-primary">
        Back
      </a>
      <a href="/favorites/<%= @favorite.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_favorite/<%= @favorite.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Favorite has many venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venues
      </li>

      <% @favorite.venues.each do |venue| %>
        <li class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.location_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_venue" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :address), :class => "form-control") %>
      </div>

      <!-- Label and input for favorites_id -->
      <div class="form-group">
        <label for="favorites_id" class="control-label">
          Favorites
        </label>

        <%= select_tag(:favorites_id, options_from_collection_for_select(Favorite.all, :id, :dish_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Venue
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
